apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      imagePullSecrets:
      - name: aws-ecr-creds
      containers:
      - name: demo-app
        image: 615299740590.dkr.ecr.us-east-1.amazonaws.com/demo-sonar-repo:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
